@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: var(--font-inter);
  --font-poppins: var(--font-poppins);
  --font-dm-sans: var(--font-dm-sans);
  --font-geist-mono: var(--font-geist-mono);
  --font-lexend-deca: var(--font-lexend-deca);
  --shadow-custom-light: var(--custom-light);

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
